name: Publicar no PyPI

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: pypi

    steps:
      - name: Checar repositório
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Construir pacote
        run: python -m build --sdist --wheel

      - name: Publicar no PyPI
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__  
          password: ${{ secrets.PYPI_API_TOKEN }}
